<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Tên</th>
            <th scope="col">Địa điểm</th>
            <th scope="col">Liên hệ</th>
            <th scope="col">Sức chứa</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{slaughterhouse.id}}</td>
            <td>{{slaughterhouse.name}}</td>
            <td>{{slaughterhouse.location}}</td>
            <td>{{slaughterhouse.contact_number}}</td>
            <td>{{slaughterhouse.capacity}}</td>
            {{!-- <td>{{slaughterhouse.wasteTreatmentFacility.name}}</td> --}}
        </tr>
    </tbody>
</table>