  <h1 class="mt-4">Danh sách sản phẩm chăn nuôi</h1>

  <div class="row mb-3 mt-4">
    <div class="col-md-6">
        <input type="text" id="search-input" class="form-control" placeholder="Tìm kiếm sản phẩm chăn nuôi">
    </div>
  </div>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>STT</th>
        <th>ID</th>
        <th>Tên sản phẩm</th>
        <th>Thao tác</th>
      </tr>
    </thead>
    <tbody>
      {{#each livestockProduct}}
      <tr>
        <td>{{inc @index}}</td>
        <td>{{this.id}}</td> 
        <td>{{this.name}}</td>       
        <td>
          <div class="btn-group" role="group">
            <a href="/livestockProduct/{{this.id}}">
              <button type="button" class="btn btn-secondary mr-1" data-id="{{this.id}}">Chi tiết</button>
            </a>
          {{#if this.can_edit}}
            <a href="/livestockProduct/{{this.id}}/edit">
             <button type="button" class="btn btn-secondary mr-1" data-id="{{this.id}}">Chỉnh sửa</button>
            </a>
            <a href="#">
              <button type="button" class="btn btn-secondary" data-id="{{this.id}}" data-toggle="modal" data-target="#delete-livestockProduct-modal">Xoá</button>
            </a>
          {{/if}}
          </div>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>

<div class="modal fade" id="delete-livestockProduct-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xoá sản phẩm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn chắc chắn muốn xoá sản phẩm này chứ ?
            </div>
            <div class="modal-footer">
                <button id="btn-delete-livestockProduct" type="button" class="btn btn-danger">Xoá bỏ</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
            </div>
        </div>
        <form name="delete-livestockProduct-form" method="POST"></form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var deleteButton = document.getElementById('btn-delete-livestockProduct');
        var deleteForm = document.forms['delete-livestockProduct-form'];

        $('#delete-livestockProduct-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var itemId = button.data('id');

            deleteButton.addEventListener('click', function(e) {
                e.preventDefault();
                deleteForm.action = `/livestockProduct/${itemId}?_method=DELETE`;
                deleteForm.submit();
            });
        });

        var searchInput = document.getElementById('search-input');
        searchInput.addEventListener('keyup', function() {
            var filter = searchInput.value.toLowerCase();
            var table = document.querySelector('table tbody');
            var rows = table.getElementsByTagName('tr');

            for (var i = 0; i < rows.length; i++) {
                var idCell = rows[i].getElementsByTagName('td')[1];
                var nameCell = rows[i].getElementsByTagName('td')[2];
                if (idCell && nameCell) {
                    var idText = idCell.textContent || idCell.innerText;
                    var nameText = nameCell.textContent || nameCell.innerText;
                    if ( idText.toLowerCase().indexOf(filter) > -1 || nameText.toLowerCase().indexOf(filter) > -1) {
                        rows[i].style.display = "";
                    } else {
                        rows[i].style.display = "none";
                    }
                }
            }
        });
    });
</script>