
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">ID </th>
      <th scope="col">Tên cơ sở</th>
      <th scope="col">Địa chỉ</th>
      <th scope="col">SĐT</th>
      <th scope="col">Sức chứa</th>
      <th scope="col">Chi cục thú y</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td>{{disposalFacility.id}}</td>
        <td>{{disposalFacility.name}}</td>
        <td>{{disposalFacility.location}}</td>
        <td>{{disposalFacility.contact_number}}</td>
        <td>{{disposalFacility.capacity}}</td>
        <td>{{disposalFacility.vetFacility.name}}</td>
    </tr>
  </tbody>
</table>