<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center">
    <h3>Chi tiết cơ sở thú y</h3>
    <a href="/vetPharmacy" class="btn btn-secondary">Danh mục</a>
  </div>

  <table class="table table-bordered mt-4">
    <thead>
      <tr>
        <th scope="col">ID cơ sở thú y</th>
        <th scope="col">Tên cơ sở</th>
        <th scope="col">Địa chỉ</th>
        <th scope="col">Số điện thoại</th>
        <th scope="col">Giờ mở cửa</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{vetPharmacy.id}}</td>
        <td>{{vetPharmacy.name}}</td>
        <td>{{vetPharmacy.location}}</td>
        <td>{{vetPharmacy.contact_number}}</td>
        <td>{{vetPharmacy.opening_hours}}</td>
      </tr>
    </tbody>
  </table>
</div>