
<table class="table table-bordered">
  <thead>
    <tr>
        <th scope="col">ID người dùng</th>
        <th scope="col">Tên người dùng</th>
        <th scope="col">Email</th>
        <th scope="col">Số điện thoại</th>
        <th scope="col">Mật khẩu</th>
        <th scope="col">Quyền quản trị</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone_number}}</td>
        <td>{{user.password}}</td>
        <td>{{user.is_admin}}</td>
    </tr>
  </tbody>
</table>