<h3 class="mt-4">Cập nhật cơ sở kiểm nghiệm</h3>

<div class="mt-4">
    <form method="POST" action="/testingFacility/{{testingFacility.id}}?_method=PUT">
        <div class="form-group">
            <label for="name">Tên cơ sở</label>
            <input type="text" class="form-control" value="{{testingFacility.name}}" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="location">Địa chỉ</label>
            <input type="text" class="form-control" value="{{testingFacility.location}}" id="location" name="location">
        </div>
        <div class="form-group">
            <label for="facility_id">Cơ sở xử lý chất thải</label>
            <select class="form-control" id="facility_id" name="facility_id">
                {{#each facilities}}
                <option value="{{this.id}}" {{#ifEquals this.id ../testingFacility.facility_id}}selected{{/ifEquals}}>{{this.name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label for="product_id">Sản phẩm xử lý chất thải</label>
            <select class="form-control" id="product_id" name="product_id">
                {{#each products}}
                <option value="{{this.id}}" {{#ifEquals this.id ../testingFacility.product_id}}selected{{/ifEquals}}>{{this.name}}</option>
                {{/each}}
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-4">Lưu</button>
    </form>
</div>